.form-trash {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

.input-form {
    display: flex;
    flex-flow: column nowrap;
    margin: 1em 1em 1em 1em;
    padding: 1em 1em 1em 1em;
    max-width: 40vw;
    min-width: 30vw;
    background-color: white;
    box-shadow: 5px 6px 12px -4px rgba(148,118,148,1);
}

.column.deleted {
    display: flex;
    flex-flow: row wrap;
}

.task {
    display: flex;
    flex-flow: column nowrap;
    margin: 1em 1em 1em 1em;
    padding: 1em 1em 1em 1em;
    max-width: 40vw;
    max-height: 30vh;
    justify-content: center;
    background-color: white;
    border-radius: 0.2em;
    box-shadow: 5px 6px 12px -4px rgba(148,118,148,1);
    background-color: rgba(225, 212, 212);

}

.created {
    background-color: rgb(248, 206, 206);
}

.deleted {
    background-color: rgba(102, 88, 88, 0.233);
}

/* .deleted.toggle-light {
    background-color: rgba(102, 88, 88, 0.233);
} */

.on-hold {
    background-color: rgb(253, 169, 169);
}

.active {
    background-color: rgb(143, 224, 204);
}

.completed {
    background-color: rgb(196, 223, 99);
}

.light-btn {
    width: 2vw;
    height: 2vw;
}

.task-btns {
    max-width: 10vw;
}

.general-columns {
    display: flex;
    flex-flow: row nowrap;
}

.column {
    display: flex;
    flex-flow: column nowrap;
    /* background-color: #fff; */
    border-radius: 1%;
    margin: 0 0.5vw 0 0.5vw;
    box-shadow: 5px 6px 12px -4px rgba(148,118,148,1);
    background-color: rgba(225, 212, 212, 0.048);
    
}

.edit {
    margin-right: 1vw;
    margin-left: 0 auto;
    padding-left: 5vw;
    width: 2vw;
    height: 2vw;
}

.no-tasks {
    display: flex;
    flex-flow: column nowrap;
    margin: 6vw 3vw 3vw 3vw;
    padding: 1em 1em 1em 1em;
    max-width: 40vw;
    max-height: 30vh;
    justify-content: center;
    background-color: white;
    border-radius: 0.2em;
    box-shadow: 5px 6px 12px -4px rgba(148,118,148,1);  
}

.column-titles {
    margin: 3vw 0 0 3vw;
}

.trash-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(85, 60, 60, 0.733);
    border-radius: 10%;
    padding: 0.1vw;
    width: 5vw;
    height: 5vw;
}

.developer-field-btn {
    display: flex;
    flex-flow: row nowrap;
}

.buttons-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 2vw 0 0 0;
    height: 2vw;
}