.input-form {
    display: flex;
    flex-flow: column nowrap;
    margin: 1em 1em 1em 1em;
    padding: 1em 1em 1em 1em;
    max-width: 40vw;
    background-color: white;
    box-shadow: 5px 6px 12px -4px rgba(148,118,148,1);
}

.task.created {
    display: flex;
    flex-flow: column nowrap;
    margin: 1em 1em 1em 1em;
    padding: 1em 1em 1em 1em;
    max-width: 40vw;
    background-color: white;
    box-shadow: 5px 6px 12px -4px rgba(148,118,148,1);

}

.task-btns {
    max-width: 10vw;
}